{
  "printWidth": 80,
  "useTabs": false,
  "tabWidth": 2,
  "overrides": [
    {
      "files": ["*.tsx", "*.ts"],
      "options": {
        "singleQuote": true,
        "semi": true,
        "quoteProps": "as-needed",
        "jsxSingleQuote": true,
        "trailingComma": "es5",
        "bracketSpacing": true,
        "jsxBracketSameLine": false,
        "arrowParens": "always",
        "requirePragma": false,
        "insertPragma": false,
        "proseWrap": "preserve",
        "htmlWhitespaceSensitivity": "css",
        "vueIndentScriptAndStyle": false,
        "endOfLine": "crlf",
        "embeddedLanguageFormatting": "off"
      }
    }
  ]
}
